

*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    padding:10px;
    background-color:rgb(48, 51, 42);
    position:relative;
    height: 45px;
}

.logo img{
    border-radius: 50%;
    float: left;
    width: 3vw;
    height: 6vh;
}

.linksgroup{
    float: right;
    padding:10px;
}

.links{
    display: inline;
    margin: 5px;
}

#home{
    background-color: rgb(159, 164, 62);
    padding:8px;
    border-radius: 25px;
}

#introduction{
    background-color: rgb(179, 202, 111);
    padding:8px;
    border-radius: 25px;
}

#discussion{
    background-color: rgb(179, 202, 111);
    padding:8px;
    border-radius: 25px;
}

#references{
    background-color: rgb(179, 202, 111);
    padding:8px;
    border-radius: 25px;
}

#about{
    background-color: rgb(179, 202, 111);
    padding:8px;
    border-radius: 25px;
}

.linksgroup a{
    margin: 5px;
    font-family: ;
    font-size: 20px;
    text-decoration: none;
    color:white;
}

.footer{
    margin-top: -4px;
    position: relative;
    height: 8vh;
    background-color: rgb(48, 51, 42);
}

.footer p{
    color:white;
    font-family: ;
    float: left;
    font-size: 14px;
    margin-top: 18px;
    margin-left: 10px;
}

.footer img{
    height: 3vh;
    width: 2vw;
    display: inline-block;
    margin: 1rem;
}

.accounts{
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.banner{
    background-color: rgb(67,97,45);
    position: relative;
    background-size: cover;
    background-position: center;
    width:100vw;
    height:585px;
    padding: 0px;
    margin: 0px;
}

.bannertext{
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    top: 20%;
    left: 3%;
}

.bannertext h1{
    margin-top: 5px;
    margin-bottom: 5px;
    color:white;
    font-family: ;
    text-transform:uppercase;
    font-size: 4em;
}

.bannertext p{
    margin-top: 5px;
    margin-bottom: 5px;
    color:white;
    font-family: ;
    text-transform:uppercase;
    font-size: 2em;
}

.banner a{
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color:rgb(159, 164, 62);
    margin-top: 1em;
    font-family: ;
    color: white;
    font-size: 20px;
}

.introductioncontent{
    background-color: rgb(67,97,45);
    position: relative;
    background-size: cover;
    background-position: center;
    width:100vw;
    height:585px;
    padding: 0px;
    margin: 0px;
}

.introductiontitle{
    color:white;
    padding-top:20px;
    padding-left:90px;
    font-family:;
    font-size:2em;
}

.introductiontext{
    text-indent: 50px;
    color:white;
    padding-top:20px;
    padding-left:150px;
    font-size:large;
}

.referencescontent{
    background-color: rgb(67,97,45);
    position: relative;
    background-size: cover;
    background-position: center;
    width:100vw;
    height:585px;
    padding: 0px;
    margin: 0px;
}

.referencestitle{
    color:white;
    padding-top:20px;
    padding-left:90px;
    font-family:;
    font-size:2em;
}

.referencestext{
    text-indent: 50px;
    color:white;
    padding-top:20px;
    padding-left:150px;
    font-size:large;
}
